@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}
.navlist li{
    margin: 0 5px;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 1.1em;
    transition: 0.1s ease-in-out;
}
.navlist li:hover{
    color: rgb(66, 138, 255);
}
.logout{
    border-left: 2px solid white;
    padding-left: 10px;
    margin-left: 10px;
}
.logout li:hover{
    background-color: white;
    color: rgb(30, 41, 59);
}
@media (max-width: 1079px) {
    .navlist li{
        margin: 20px 5px;
        padding: 10px 20px;
        font-size: 1.1em;
    }
    .navlist li:hover{
        color: white;
    }
    .logout{
        border-top: 2px solid white;
        border-left: none;
        padding-left: 0;
        margin-left: 0;
    }
    .logout li:hover{
        background-color: rgb(30, 41, 59);
        color: white;
    }
}
